.calc{
    width:400px;
    height:600px;
    background:gray;
    margin-left:400px;
}
#screen{
    width: 80%;
    margin-left: 35px;
    height: 50px;
    margin-top: 34px;
    pointer-events:none;
}
.btn{
    width:53px;
    height:43px;
    margin-left: 35px;
    margin-top: 54px;
    background: rgb(241, 233, 218);
}
